@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500);
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Roboto";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Roboto";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #12100c;
	background-color: #f5f3f4;
	font-size: 16px;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1310px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 1322px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}
}

.row:after {
	display: block;
	content: "";
	clear: both;
}

.rub:after {
	content: "₽";
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ol.counter {
	list-style-type: none;
	counter-reset: item;
}
ol.counter li {
	position: relative;
	padding: 0px 0px 0px 45px;
}
ol.counter li:before {
	counter-increment: item;
	content: counter(item);
	position: absolute;
	left: 0;
	top: 0;
	color: #818181;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	border: 1px solid #4274bb;
}

.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.es {
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.table {
	display: table;
	font-size: 0;
	width: 100%;
}

.trow {
	display: table-row;
}

.cell {
	display: table-cell;
}
.cell.full {
	width: 100%;
}

.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
}

body.ie .ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
body.ie .ibg img {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	    -ms-transform: translateX(-50%) translateY(-50%);
	        transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

.moretext {
	overflow: hidden;
}

.moretext__more {
	cursor: pointer;
}
.moretext__more span {
	font-style: normal;
}
.moretext__more span:first-child {
	display: block;
}
.moretext__more span:last-child {
	display: none;
}
.moretext__more.active span {
	font-style: normal;
}
.moretext__more.active span:first-child {
	display: none;
}
.moretext__more.active span:last-child {
	display: block;
}

.graystyle {
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

.graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}

.slick-slider {
	position: relative;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.slick-slider .slick-track {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.slick-slider .slick-slide {
	position: relative;
}
.tab__item {
	display: none;
}
.tab__item.active {
	display: block;
}

.mirror {
	-webkit-transform: scale(-1, 1);
	    -ms-transform: scale(-1, 1);
	        transform: scale(-1, 1);
}

.nicescroll-rails {
	z-index: 1000 !important;
}

.gm-style-iw-t {
	opacity: 0;
}

.baloon {
	opacity: 1;
	right: -7px !important;
	bottom: 80px !important;
}
.baloon button {
	display: none !important;
}
.baloon:after {
	display: none !important;
}

.baloon-style {
	display: none;
}

.baloon-content.gm-style-iw {
	opacity: 1;
	border-radius: 0px !important;
	max-width: 300px !important;
	padding: 0 !important;
	left: 0 !important;
	width: 100% !important;
	overflow: visible !important;
}
.baloon-content.gm-style-iw > .gm-style-iw-d {
	overflow: hidden !important;
	max-width: none !important;
}
.baloon-content.gm-style-iw:after {
	display: none !important;
}

.baloon-close {
	top: 18px !important;
}

.header {
	height: 100vh;
}
.header__top {
	padding: 20px 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	min-height: 80px;
	z-index: 100;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.header__top.fixed {
	background-color: #eee;
	-webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header__logo {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}
.header__menu {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}
.menu__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}
@media (max-width: 767.98px) {
	.menu__body {
		position: absolute;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100vh;
		background-color: #ffae33;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	.menu__body.active {
		right: 0;
	}
}
.menu__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 767.98px) {
	.menu__list {
		display: block;
	}
}
.menu__list li {
	margin: 0px 48px 0px 0px;
}
.menu__list li:last-child {
	margin: 0px 0px 0px 0px;
}
@media (max-width: 991.98px) {
	.menu__list li {
		margin: 0px 24px 0px 0px;
	}
}
@media (max-width: 767.98px) {
	.menu__list li {
		margin: 0px 0px 24px 0px;
		font-size: 30px;
		text-align: center;
	}
}
.menu__link {
	color: rgba(18, 16, 12, 0.7);
}
@media (min-width: 767.98px) {
	.menu__link:hover {
		color: #ffae33;
	}
}
.menu__btn {
	background: #12100c;
	border-radius: 12px;
	padding: 6px 23px;
	color: #f9f9f9;
	font-size: 14px;
	line-height: 142.8571428571%;
}
@media (max-width: 767.98px) {
	.menu__btn {
		text-align: center;
		width: 80%;
		padding: 15px 0px;
		font-size: 20px;
		margin: 30px 0px 0px 0px;
	}
}

.content-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: flex;
	height: 91.5%;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin: 80px 0px 0px 0px;
}
.content-header__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 991.98px) {
	.content-header__right {
		width: 100%;
	}
}
.content-header__title {
	font-weight: bold;
	font-size: 80px;
	line-height: 110%;
	color: #12100c;
	margin: 0px 0px 38px 0px;
}
@media (max-width: 991.98px) {
	.content-header__title {
		text-align: center;
	}
}
@media (max-width: 767.98px) {
	.content-header__title {
		font-size: 60px;
	}
}
.content-header__sub-title {
	font-size: 23px;
	line-height: 32px;
	color: rgba(18, 16, 12, 0.7);
	max-width: 460px;
	margin: 0px 0px 48px 0px;
}
@media (max-width: 991.98px) {
	.content-header__sub-title {
		text-align: center;
		margin: 0px auto 48px;
	}
}
@media (max-width: 767.98px) {
	.content-header__sub-title {
		font-size: 20px;
	}
}
.content-header__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0px 0px 18px 0px;
}
@media (max-width: 991.98px) {
	.content-header__info {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
@media (max-width: 479.98px) {
	.content-header__info {
		display: block;
		text-align: center;
	}
}
.content-header__btn {
	background: #ffae33;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	padding: 10px 45px;
	margin: 0px 24px 0px 0px;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #12100c;
}
@media (max-width: 767.98px) {
	.content-header__btn {
		font-size: 15px;
		padding: 6px 35px;
	}
}
@media (max-width: 479.98px) {
	.content-header__btn {
		margin: 0px 0px 10px 0px;
	}
}
.content-header__info-text {
	font-size: 16px;
	line-height: 24px;
	color: rgba(18, 16, 12, 0.7);
}
.content-header__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 991.98px) {
	.content-header__links {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
.content-header__links a {
	display: block;
	margin: 0px 30px 0px 0px;
}
.content-header__links a:last-child {
	margin: 0px 0px 0px 0px;
}
@media (max-width: 991.98px) {
	.content-header__left {
		display: none;
	}
}
.content-header__left img {
	height: 100%;
	width: 100%;
}
@media (max-height: 579px) {
	.content-header__left img {
		height: 80%;
		width: 80%;
	}
}

.icon-menu {
	display: none;
	position: absolute;
	top: 30px;
	right: 30px;
	width: 30px;
	height: 18px;
	cursor: pointer;
	z-index: 5;
}
@media (max-width: 767.98px) {
	.icon-menu {
		display: block;
	}
}
.icon-menu span {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #000;
}
.icon-menu span:first-child {
	top: 0px;
}
.icon-menu span:last-child {
	top: auto;
	bottom: 0px;
}
.icon-menu.active span {
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.icon-menu.active span:first-child {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 8px;
}
.icon-menu.active span:last-child {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	bottom: 8px;
}

/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
.title-block {
	text-align: center;
	margin: 100px 0px 340px 0px;
}
@media (max-width: 991.98px) {
	.title-block {
		margin: 60px 0px 150px 0px;
	}
}
.title-block__text {
	font-weight: bold;
	font-size: 54px;
	line-height: 118.5185185185%;
	text-align: center;
	color: #12100c;
}
@media (max-width: 767.98px) {
	.title-block__text {
		font-size: 40px;
	}
}
.title-block__text span {
	-webkit-text-decoration-line: line-through;
	        text-decoration-line: line-through;
	color: #999795;
	font-weight: normal;
}

.environments {
	margin: 0px 0px 370px 0px;
}
@media (max-width: 767.98px) {
	.environments {
		margin: 0px 0px 170px 0px;
	}
}
.environments__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 1322px) {
	.environments__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}
}
@media (max-width: 1322px) {
	.environments__left {
		text-align: center;
	}
}
.environments__title {
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
	margin: 0px 0px 8px 0px;
}
@media (max-width: 767.98px) {
	.environments__title {
		font-size: 25px;
	}
}
.environments__text {
	font-size: 24px;
	line-height: 32px;
	color: rgba(18, 16, 12, 0.7);
}
@media (max-width: 767.98px) {
	.environments__text {
		font-size: 18px;
	}
}
.environments__btns {
	margin: 150px 0px 0px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 1322px) {
	.environments__btns {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin: 50px 0px 0px 0px;
	}
}
.environments___btn {
	background: #ffae33;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 10.5px;
	padding: 9px 18px;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}
.environments___btn--pink {
	background: #ffb0ae;
	margin: 0px 0px 0px 16px;
}
.environments__right {
	margin: 0px 0px 0px 70px;
}
@media (max-width: 1322px) {
	.environments__right {
		margin: 0px auto 30px;
	}
	.environments__right img {
		max-width: 100%;
		height: auto;
	}
}

.remote {
	margin: 0px 0px 176px 0px;
}
.remote__img {
	margin: 0px 0px 50px 0px;
}
.remote__img img {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.remote__text {
	max-width: 877px;
	margin: 0 auto 45px;
	text-align: center;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: rgba(18, 16, 12, 0.7);
}
.remote__btns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
@media (max-width: 479.98px) {
	.remote__btns {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}
.remote___btn {
	background: #ffffff;
	-webkit-box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1);
	border-radius: 9px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 8px 12px;
	margin: 0px 16px 0px 0px;
	font-weight: bold;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	color: #12100c;
}
@media (max-width: 479.98px) {
	.remote___btn {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin: 0px 0px 15px 0px;
	}
}
.remote___btn:last-child {
	margin: 0px 0px 0px 0px;
}
.remote___btn img {
	display: block;
	margin: 0px 10px 0px 0px;
}

.title {
	font-weight: bold;
	font-size: 54px;
	line-height: 72px;
	text-align: center;
	color: #12100c;
	margin: 0px 0px 47px 0px;
}
@media (max-width: 767.98px) {
	.title {
		font-size: 40px;
	}
}

.used {
	margin: 0px 0px 100px 0px;
}
.used__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: auto;
	padding: 5px;
}
.used__body::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #fff;
}
.used__body::-webkit-scrollbar {
	height: 15px;
	background-color: #f5f5f5;
}
.used__body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #ccc;
}
.used__block {
	padding: 24px;
	background: #ffffff;
	border-radius: 16px;
	min-width: 384px;
	height: auto;
	margin: 0px 24px 0px 0px;
}
.used__block:last-child {
	margin: 0px 0px 0px 0px;
}
.used__block > div {
	margin: 0px 0px 14px 0px;
}
.used__block > div > p {
	margin: 0px 0px 7px 0px;
}
.used__user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.used__ava {
	margin: 0px 12px 0px 0px;
}
.used__desc p {
	margin: 0px 0px 8px 0px;
	font-weight: bold;
}

.partners {
	margin: 0px 0px 200px 0px;
}
@media (max-width: 767.98px) {
	.partners {
		margin: 0px 0px 100px 0px;
	}
}
.partners__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.partners__row a {
	display: block;
	margin: 0px 70px 0px 0px;
}
@media (max-width: 767.98px) {
	.partners__row a {
		margin: 0px 70px 10px 0px;
	}
}
@media (max-width: 479.98px) {
	.partners__row a {
		margin: 0px 0px 0px 0px;
	}
}

.started {
	margin: 0px 0px 160px 0px;
}
@media (max-width: 767.98px) {
	.started {
		margin: 0px 0px 80px 0px;
	}
}
.started_body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 1322px) {
	.started_body {
		display: block;
	}
}
.started__block {
	padding: 50px 56px 86px;
	text-align: center;
	background: #ffffff;
	border-radius: 20px;
	width: 640px;
}
@media (max-width: 1322px) {
	.started__block {
		margin: 0px 0px 10px 0px;
		width: 100%;
	}
}
.started__block:last-child {
	margin: 0px 0px 0px 0px;
}

.block-started__title {
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	margin: 0px 0px 8px 0px;
}
@media (max-width: 767.98px) {
	.block-started__title {
		font-size: 28px;
	}
}
.block-started__sub-title {
	max-width: 470px;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: rgba(18, 16, 12, 0.7);
	margin: 0 auto;
}
@media (max-width: 767.98px) {
	.block-started__sub-title {
		font-size: 20px;
	}
}
.block-started__sub-title--2 {
	margin: 0px 0px 30px 0px;
}
.block-started__button {
	padding: 10px 33px;
	display: block;
	width: 260px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0px auto 16px;
}
.block-started__button p {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #ffffff;
}
.block-started__button img {
	display: block;
	margin: 0px 17px 0px 0px;
}
.block-started__button--gitlab {
	margin: 62px auto 16px;
	background: #fc6d26;
}
.block-started__button--github {
	background: #000000;
}
.block-started__button--bitbucket {
	background: #2684ff;
	margin: 0px auto 64px;
}
.block-started__link-text {
	background: #ffe4bc;
	border-radius: 12px;
	padding: 1px 16px 1px 16px;
	max-width: 150px;
	margin: 6px auto 0;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: rgba(18, 16, 12, 0.7);
}
.block-started .workspace {
	background: #f9f9f9;
	border-radius: 12px;
	padding: 12px 12px 12px 14px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
	margin: 0px 0px 12px 0px;
}
.block-started .workspace:last-child {
	margin: 0px 0px 0px 0px;
}
.block-started .workspace:hover .workspace__button {
	opacity: 1;
}
.block-started .workspace__title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.block-started .workspace__title img {
	margin: 0px 16px 0px 0px;
}
.block-started .workspace__title h4 {
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: rgba(18, 16, 12, 0.7);
	margin: 0px 5px 0px 0px;
}
@media (max-width: 767.98px) {
	.block-started .workspace__title h4 {
		font-size: 16px;
	}
}
.block-started .workspace__button {
	background: #12100c;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #ffffff;
	padding: 7px 12px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	opacity: 0;
}
@media (max-width: 767.98px) {
	.block-started .workspace__button {
		padding: 5px 7px;
	}
}